
				#list_editor_body
				{
						overflow-y:auto;
						height:120px;
				}

				.boxColor
				{
					width:30px;
					height:30px;
					display:inline-block;
					border-radius:100%;
					margin:4px;
					background-color:red;
				}

				#containerBox
				{
					width:250px;
					display:inline-block;
				}

				.linearEditor
				{
					height:20px;
				}
