
	*
	{
		box-sizing:border-box;
		margin:0;
		padding:0;
	}

	#container
	{
		text-align:center;
	}

	.button
	{
	    padding: 4px;
	    background-color: greenyellow;
	    border: 4px solid #00000040;
	    border-radius: 4px;
	    cursor:pointer;
	    text-decoration:none;
	    color:black;
	}

	canvas
	{
		margin: 10px;
		border: 1px solid #8080804f;
		box-shadow: 8px 9px 2px 1px #000000d4;
		cursor: pointer;
	}


	body
	{
		min-height:100vh;
		padding-bottom:15px;
	}

	header
	{
		display:flex;
		align-items:center;
		background-color:red;
		height:40px;
		padding-left:10px;
	}

		header div:nth-child(1)
		{
			flex:1;
		}

		header div:nth-child(2)
		{
			padding-right:10px;
		}
	h1
	{
		font-size:23px;
		font-weight:500;
	}
