body
{
	background-color:#8080800f;
	height:100vh;
	margin:0;
	display:flex;
	align-items:center;
	justify-content:center;	
}

#box
{
	background-color:white;
	padding:14px;
	border:1px solid gray;
}

	#box > div
	{
		margin:9px;
	}
