
 body
 {
	display:flex;
	align-items:center;
	margin:0;
	margin-top:55px;
	flex-direction:column;
	height:100vh;
	overflow:hidden;
 }

 #log
 {
	margin-top:10px;
	overflow-y:auto;
	border:1px solid gray; 
	padding:8px;
	width:620px;
	height:220px;
 }

 #sel
 {
	width:548px;
	padding:8px;
	vertical-align:baseline;
 }

 button
 {
	padding:7px;
	border: 1px solid gray;
	background-color:white;
	height:34px;
 }

