<div class="col-xs-12 col-sm-6 col-md-3" style="float: initial;display:inline-block;">
                <div class="sol">
                  <img class="img-responsive" src="%img_gallery" alt="Categoría número %id">
                  <div class="behind">
                      <div class="head text-center">
			      <div style="color:white;padding:8px;height:100px;">%text</div>
                        <ul class="list-inline">
                          <li>
                            <a class="gallery" href="%img_portfolio" data-toggle="tooltip" data-original-title="Quick View">
                              <i class="fa fa-eye"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#" data-toggle="tooltip" data-original-title="Click if you like it">
                              <i class="fa fa-heart"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#" data-toggle="tooltip" data-original-title="Download">
                              <i class="fa fa-download"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#" data-toggle="tooltip" data-original-title="More information">
                              <i class="fa fa-info"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="row box-content">
                        <ul class="list-inline text-center">
                          <li><i class="fa fa-eye"></i> %views</li>
                          <li><i class="fa fa-heart"></i> %likes</li>
                          <li><i class="fa fa-download"></i> %downloads</li>
                        </ul>
                      </div>
                  </div>
                </div>
</div>
