
	.icon
	{
		width: 30px;
		height: 30px;
		vertical-align: middle;
		margin-bottom: 10px;
	}

	#contextMenu
	{
			display:none;
			box-shadow: 2px 2px 2px 2px #00000087;
			min-width:200px;
			position:fixed;
			border:1px solid #00000052;
			background-color:white;
			color:#282828;
	}

	#barTabs
	{
		padding-left:50px;
		background-color: #0775ea;
	}

		.barTabs_box
		{
			border:1px solid #888;
			display: inline-block;
			background-color: white;
			padding: 3px;
			border-radius: 10px 10px 0px 0px;
			border-bottom: 0;
			opacity:0.7;
		}

		.barTabs_box:nth-child(1) { opacity:1;}

			.barTabs_box > span 
			{
				font-family: cursive;
				font-size: 13px;
				top: -3px;
				position: relative;
				cursor: pointer;
				color: red;

			}
