				
				.boxFile 
				{
					cursor:pointer;
				}	

				.arrowIcon
				{
					height:25px;
					width:25px;
					transform:rotate(-90deg);		
					transition:0.4s;
				}



				body 
				{
					overflow:hidden;
					margin:0;
					display:flex;
					min-height:100vh;
					flex-direction:column;
				}

				header
				{
					display:flex;
					flex-direction:column;
					height:73px;
				}
					
				
					#barTop
					{
						display:flex;
						background-color: #0775ea;
					}

					#barTop > div 
					{
						display:flex;
						align-items:center;
					}

						#barTop_logo 
						{
						}
							#barTop_logo > img 
							{
								height: 45px;
								width: 50px;
								margin-left: 10px;
								vertical-align:middle;
							}

							#barTop_logo > h1 
							{
								margin:0;
								display:inline;
								font-size:14px;
								margin-left: 10px;
								color:white;
							}
						#barTop_center
						{
							flex:2;
							justify-content:end;
						}

						#barTop_user
						{
							font-family:arial;
							flex:1;
							justify-content:end;
							text-align:right;
							color: white;
							font-size: 14px;	
							padding-left: 10px;
							padding-right: 10px;
						}

							#barTop_user_name
							{
								min-width:70%;
							}

							#barTop_user > img
							{
								width:25px;
								height:25px;
								margin-right:5px;
							}

					#barTool 
					{
						padding-left:10px;
						display:flex;
						align-items:center;
						flex:1;
						background-color:#077fff;
					}

						#barTool > img 
						{
							margin-right:5px;
							margin-left:5px;
							cursor:pointer;
							width:25px;
							height:25px;
						}

						#barTool > div 
						{
							background-color: #bdbdbda8;
							width: 1px;
							height: 75%;
							display: inline-block;
							margin-left: 10px;
							margin-right: 10px;
						}

				#container
				{
					display:flex;
					background-color:yellow;
					flex:1;
				}

					#left 
					{
						border-left: 4px solid #0775ea;
						width:250px;
						background-color:white;
						padding-left:10px;
						padding-top:10px;
						overflow-y:auto;
						overflow-x:auto;
					}

					#right
					{
						background-color:white;
						flex:1;
					}


				.editorGroup
				{
					font-size:19px;
				}

				#editor
				{
					border:0;
					resize:none;
					color:transparent;
					caret-color:black;
					position:relative;
					background-color:transparent;
					width:99%; 
					height:auto;
				}

				#editorContainer
				{
					overflow-y:auto;
					display:flex;
					flex-direction:row;
				}

				#lines 
				{
					width:54px;
					background-color:#0775ea;
					margin-right:10px;
				}

				.linesBox 
				{
					color:white;
					font-weight:600;
					font-family:arial;

					height: 23px;
					display: flex;
					align-items: end;
					justify-content:center;
					font-size: 15px;
				}

				#console
				{
					border-left: 2px solid #0775ea;
					background-color:black;
					color:white;
					height:150px;
					display:flex;
					flex-direction:column;
				}


					.console_log
					{
						font-size: 12px;
						font-family: Arial;
						margin-bottom: 2px;
					}

					#console > div:nth-child(1)
					{
						background-color:#0775ea;
						padding:5px;
						font-size:13px;
						color:white;
					}

					#console_container
					{
						overflow-y:auto;
						padding:8px;
					}

				footer
				{
					display: flex;
					align-items: center;
					height: 20px;
					background-color: black;
					color: white;
					font-size: 14px;
					font-family: arial;
					font-weight: 600;
					border-top: 2px solid #0775ea;
				}



				.radioRed , .radioGreen , .radioOrange
				{
					display:inline-block;
					height:11px;
					width:11px;
					border-radius:100%;
				}

				.radioGreen
				{
					background-color:lime;
				}

				.radioOrange 
				{
					background-color:orange;
				}

				.radioRed
				{
					background-color:red;
				}	


				#list_user
				{
					    position: fixed;
					    top: 44px;
					    right: 5px;
					    background-color: white;
					    width: 250px;
					    min-height: 130px;
					    border: 4px solid #0775ea;
					    border-top: 0px;
					    border-radius: 0px 0px 0px 5px;
					    color:black;
						display:none;
				}



				select 
				{
					border: 1px solid #bbb8b8;
					appearance: none;
					background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") right 5px center no-repeat;
					background-color: white;
					padding: 4px;
					width: 250px;
					margin-right: 10px;
					border-radius: 4px;
					font-size: 13px;
					font-family: arial;
				}




				#capa 
				{
					position:fixed;
					top: 0px;
					left:0px;
					width:100%;
					height:100%;
					background-color: rgba( 0 , 0 , 0 , 0.90 );
					display:flex;
					justify-content:center;
				}

					#alert_login
					{
						border:8px solid #80808070;
						border-radius:15px;
						margin-top:10px;
						background-color:white;
						padding:5px;
						height:200px;
						width:500px;
					}

					#alert_login_user , #alert_login_password
					{
						margin-bottom:10px;
					}

					#alert_login_buttons
					{
						text-align:center;

					}

					#alert_login_text
					{
						margin-bottom:10px;
						margin-top:10px;
					}

						#alert_login input 
						{
							width:97%;
						}

