doctype html
head
  link(href='css/index.css' rel='stylesheet')
  script( src='js/Lienzo.js')  


  title Banderas
  meta(charset='UTF-8')
header
  div
    h1 BanderasSA
  div
    a.button( href='form' ) Crear bandera
#container
 each actu in banderas
  div( style="display:inline-block; text-align:center ;margin:3px;" )
   canvas( id="canvas_"+actu._id data-type=actu.dir onclick="document.location='form?action=edit&id=" + actu._id +"'"  data-colors=actu.colores  data-nombre=actu.nombre)
   div=actu.nombre

